.header-container {
  padding: 10rem 0;

  background: #29323c; /* fallback for old browsers */
}

.picture-container {
  width: 15rem;
  height: 15rem;
}

.header-name {
  font-family: "Montserrat", sans-serif;
  color: #77acf1;
  margin-top: 2rem;
  font-size: 2rem;
}
.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7.5rem;
  border: 2px solid #77acf1;
}
.resume-btn {
  font-family: "Montserrat", sans-serif;
  background-color: #77acf1;

  color: #c0fefc;
  text-decoration: none;
  padding: 0.4rem 1.4rem;
  font-size: 1.2rem;
  border-radius: 1rem;
}
.resume-btn:hover {
  color: #77acf1;
  background-color: #c0fefc;
  text-decoration: none;
}
.words-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  height: 100%;
}
.fixed-word {
  font-family: "Montserrat", sans-serif;
  color: #77acf1;
  font-size: 2rem;
}
.animated-word {
  font-family: "Niconne", cursive;
  -webkit-text-stroke: 1px #c0fefc;
  color: #77acf1;
  font-size: 3rem;
  text-align: center;
}

/*
    font-family: 'Montserrat', sans-serif;

    font-family: 'Niconne', cursive;
  background: -webkit-linear-gradient(
    to right,
    #faffd1,
    #a1ffce
);
  background: linear-gradient(
    to right,
    #faffd1,
    #a1ffce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
